@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-principal: #162556 /*bg-blue-950*/
    --color-texto: #4b5563
}
@font-face {
  font-family: 'CocoBiker';
  src: url('/fonts/CocoBiker.ttf') format('truetype');
}
@layer base {
  html {
    font-family: "Red Hat Display", sans-serif;
  }
}
body {
    font-size: 18px;
    line-height: 1.8;
}

img {
    width: 100%;
    height: auto;
}
h1 {
    
    font-size: clamp(2rem, 5vw, 4rem);
}
h2 {
    font-size: clamp(1.6rem, 5vw, 3.4rem);
}

.contenedor {
    max-width: 130rem;
    margin: 0 auto;
}
.contenedor-sm {
    max-width: 80rem;
    margin: 2rem auto;
}
.cocobiker {
    font-family: 'CocoBiker', sans-serif;
}
.logo_devwebcamp{
  font-family: 'CocoBiker', sans-serif;
  font-size: clamp(2.4rem, 6vw, 6rem);
  position: absolute;
  top: 50%;   
  left: 5%;
  color: white;
}
.logo_texto{
  font-size: clamp(1rem, 6vw, 2rem);
  position: absolute;
  top: 63%;   
  left: 5.2%;
  color: white;
} 
@media (width >= 768px) {
  .logo_texto {
    top: 65%;
  }
}

.note-editor.note-frame.fullscreen {
  background-color: white !important;
}
.note-editor.fullscreen .note-editable {
  background-color: white !important;
}
.note-editable ul {
  @apply list-disc ml-5; /* Tailwind */
}
.note-editable ol {
  @apply list-decimal ml-5;
}


