@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-principal: #162556 /*bg-blue-950*/
    --color-texto: #4b5563
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "Red Hat Display", sans-serif;;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
